<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>Smart Home Provider</title>
    <meta name="description" content="Smart Home virtual devices">

    <link rel="icon" href="frontend/images/favicon.ico">
</head>
<body>
<p>Please log in, feel free to make something up:</p>
<form action="/login" method="post">
    <input type="text" name="username" size="60" value="rick"><br>
    <input type="password" name="password" size="60" value="oldman">
    <input type="hidden" name="redirect" value="<%= redirect%>">
    <input type="hidden" name="client_id" value="<%= client_id%>">
    <input type="hidden" name="redirect_uri" value="<%= redirect_uri%>">
    <input type="hidden" name="state" value="<%= state%>">
    <input type="submit" value="Submit">
</form>
</body>
</html>
